/* Styles de base */
*
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}

html
{
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
}

body
{
    line-height: 1.5;

    height: 100%;
    margin: auto;

    text-decoration: none;

    color: rgb(51, 51, 51);
    background: #eee;
    /*display: none;*/
}

img
{
    display: block;

    width: 100%;
}

a
{
    text-decoration: none;

    color: rgba(51, 51, 51, .6);
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-family: outline;
    font-size: 1.2rem;
    font-style: italic;
}
ul
{
    list-style-type: none;
}

/* Header */
header
{
    position: fixed;
    z-index: 20;

    width: calc(100% - 2em);
    padding: 1em;

    background: rgb(244, 244, 244);
}

header a
{
    text-decoration: none;

    color: rgb(51, 51, 51);
}

header a.logo
{
    display: block;
    float: right;
}

header nav ul
{
    visibility: hidden;
    clear: both;

    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: height .4s ease;
}

header nav ul li a
{
    display: block;

    padding: 20px;

    border-bottom: 1px solid rgba(51, 51, 51, .9);
}

header nav ul li a:hover
{
    color: rgba(51, 51, 51, .8);
}

header .menu-icon
{
    position: relative;

    float: left;

    padding: 11px;

    cursor: pointer;
}

header .menu-icon .nav-icon
{
    position: relative;

    display: block;

    width: 18px;
    height: 2px;

    transition: background .4s ease;

    background: rgba(51, 51, 51, .9);
}

header .menu-icon .nav-icon:before
{
    position: absolute;
    top: 5px;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: all .4s ease;

    background: rgba(51, 51, 51, .9);
}

header .menu-icon .nav-icon:after
{
    position: absolute;
    top: -5px;

    display: block;

    width: 100%;
    height: 100%;

    content: '';
    transition: all .4s ease;

    background: rgba(51, 51, 51, .9);
}

header .menu-btn
{
    display: none;
}

header .menu-btn:checked ~ nav ul
{
    visibility: visible;
    overflow: hidden;

    height: 100vh;
}

header .menu-btn:checked ~ .menu-icon .nav-icon
{
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before
{
    top: 0;

    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after
{
    top: 0;

    transform: rotate(45deg);
}

/* main area */
main
{
    padding-top: 3em;
}
main .section_a1 h1
{
    font-family: outline;
    font-size: 3rem;

    text-align: center;

    color: #e66d6d;
}

main p,
main p1,
main a
{
    padding-right: 20px text-align: left;
    padding-left: 20px;
}

main a,
main p1,
main .logo
{
    font-size: .8em;

    padding-top: 1em;
}
main .logo
{
    padding-left: 1.2em;

    color: rgba(51, 51, 51, .6);
}

main li
{
    padding-bottom: 1em;
}
main .section_a > div
{
    padding-bottom: 1em;
}

main .section_a1
{
    height: 70vh;

    background: rgb(51, 51, 51);
}

main p,
main a,
main p1
{
    padding-bottom: .5em;
}
main p1
{
    text-align: left;

    color: rgba(51, 51, 51, .6);
}

/* section a1 */
main .section_a1
{
    height: 60vh;

    background-image: linear-gradient(rgba(51, 51, 51, .98), rgba(51, 51, 51, .98)),
    url('https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}
main .section_a1 h1
{
    font-family: outline;
    font-size: 1rem;
    font-weight: 5;

    padding-top: 30vh;

    text-align: center;
    text-transform: uppercase;

    color: #e66d6d;
}
main .section_a1 span
{
    color: #eee;
}
/* section a */
main .section_a
{
    text-align: center;
    background: #e66d6d;
}
main .section_a p
{
    padding: 1rem;
}

main .section_a .section_a2 h2
{
    font-family: outline;
    font-size: 3rem;
    font-weight: 5;

    text-align: center;
    text-transform: uppercase;

    color: #ddd;
}

main .section_a .section_a2
{
    padding: 1rem;

    color: rgb(51, 51, 51);
    margin: auto;
}

/* section b  */
main .section_b h2
{
    font-family: outline;
    font-size: 3rem;
    font-weight: 5;

    padding: 1.5rem 0;

    text-align: center;
    text-transform: uppercase;

    color: rgb(51, 51, 51);
}
main .section_b
{
    background: #ddd;
}
main .section_b ul li
{
    border-radius: .4rem;
    background: #eee;
}

/* section c */

main .section_c h2
{
    font-family: outline;
    font-size: 3rem;
    font-weight: 5;

    text-align: center;
    text-transform: uppercase;

    color: #171717;
}
main .section_c .e_a .exp_content ul li
{
    list-style-type: circle;
}
main .section_c .e_a
{
    margin-bottom: 1rem;
    padding: 2rem;

    border-radius: .4rem;
    background: #ddd;
}
main .section_c .e_a .e-link
{
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-between;
}
main .section_c .e_a .e-link i
{
    padding: .5rem;

    color: #e66d6d;
}
main .section_c .e_a .e-link .ion-md-remove
{
    display: none;
}
main .section_c .e_a .exp_content
{
    position: relative;

    overflow: hidden;

    max-height: 0;
    padding: .2rem;

    transition: max-height 700ms;

    border-radius: 0 .4rem .4rem 0;
    background: #b1b1b1;
}
main .section_c .e_a .exp_content::before
{
    position: absolute;
    top: 50%;
    left: 0;

    width: .6rem;
    height: 90%;

    content: '';
    transform: translateY(-50%);

    background-color: #e66d6d;
}
main .section_c .e_a .exp_content
{
    padding-left: 2rem;
}

main .section_c .e_a:target .exp_content
{
    max-height: 20rem;
}
main .section_c .e_a:target .e-link .ion-md-add
{
    display: none;
}
main .section_c .e_a:target .e-link .ion-md-remove
{
    display: block;
}


/*Footer*/
footer
{
    padding-top: 30px;

    background: #fafafa;
}

footer .terms
{
    font-size: .7em;

    padding: 0 30px 30px 30px;

    color: rgba(51, 51, 51, .6);
}

footer .terms .other-stuff ul li
{
    display: inline-block;

    padding-right: 10px;
}

footer .terms .other-stuff ul li a
{
    color: rgba(51, 51, 51, .9);
}


/*Media Queries*/
@media screen and (min-width: 760px) and (max-width: 1800px)
{
    h3
    {
        font-size: 2rem;
    }
    h4
    {
        font-size: 1rem;
    }
    /*Header*/
    header
    {
        font-family: outline;

        position: fixed;

        display: grid;

        text-transform: uppercase;

        grid-template-columns: 2fr 2fr 2fr;
    }
    header .logo
    {
        padding-left: 8.7vw;
    }
    header a
    {
        text-decoration: none;
    }
    header nav
    {
        padding-right: 8.7vw;
    }
    header nav ul
    {
        display: flex;
        visibility: visible;
        flex-direction: row;
    }
    header nav ul li a
    {
        display: inline;

        padding: 1em;

        border-bottom: 0;
    }
    header .menu-icon .nav-icon
    {
        display: none;
    }

    /* Main area */
    main
    {
        display: grid;

        grid-template-rows: 1fr;
    }

    /* section a1 */
    main .section_a1
    {
        height: 70vh;

        background-image: linear-gradient(rgba(51, 51, 51, .98), rgba(51, 51, 51, .98)),
        url('https://images.pexels.com/photos/159888/pexels-photo-159888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
    }
    main .section_a1 h1
    {
        font-family: outline;
        font-size: 3rem;
        font-weight: 5;

        padding-top: 30vh;

        text-align: center;
        text-transform: uppercase;

        color: #e66d6d;
    }
    main .section_a1 span
    {
        color: #eee;
    }

    /* section a */
    main .section_a
    {
        padding: 1rem;

        text-align: center;
    }

    main .section_a p
    {
        padding: 1rem;
    }

    main .section_a .section_a2 h2
    {
        font-family: outline;
        font-size: 3rem;
        font-weight: 5;

        padding-top: 2rem;

        text-align: center;
        text-transform: uppercase;

        color: #ddd;
    }

    main .section_a .section_a2
    {

        padding: 1rem;
        width: 60vw;

        color: rgb(51, 51, 51);
    }
    /* section b */
    main .section_b ul  li img
    {
        border-radius: .4rem;
    }
    main .section_b ul  li
    {
        border-radius: .4rem .4rem 0 0;
    }
    main .section_b h2
    {
        font-family: outline;
        font-size: 3rem;
        font-weight: 5;

        padding-top: 5rem;

        text-align: center;
        text-transform: uppercase;

        color: rgb(51, 51, 51);
    }
    main .section_b
    {
        background: #ddd;
    }
    main .section_b ul
    {
        display: grid;

        width: 60vw;
        margin: auto;
        padding: 5rem;

        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    main .section_b ul li
    {
        border-radius: .4rem;
        background: #eee;
    }

    /* section c */
    main .section_c
    {
        width: 60vw;
        margin: auto;
        padding: 0 10vw 10vw 10vw;
    }

    main .section_c h2
    {
        font-family: outline;
        font-size: 3rem;
        font-weight: 5;

        padding: 5rem;

        text-align: center;
        text-transform: uppercase;

        color: #171717;
    }

    /*Footer*/
    footer .terms
    {
        font-size: .7em;

        display: flex;

        width: 60vw;
        margin: auto;
        /* padding: 0 30px 30px 0; */

        color: rgba(51, 51, 51, .6);

        justify-content: space-between;
    }

    footer .terms .other-stuff ul li
    {
        display: inline-block;

        /* padding-right: 10px; */
    }

    footer .terms .other-stuff ul li a
    {
        color: rgba(51, 51, 51, .9);
    }
}

@media only screen and (min-width: 1800px)
{
    html
    {
        font-size: 18px;
    }

    /*Header*/
    header
    {
        position: fixed;

        display: flex;

        width: calc(100% - 2em);
        padding: 1em;

        justify-content: space-between;
    }
    header a
    {
        text-decoration: none;
    }
}
@media only screen and (min-width: 1800px)
{
    html
    {
        font-size: 21px;
    }
}
